/* Estilo para o rodapé */
.footer {
    /* Define posição fixa para o rodapé */
    position: fixed;
    /* Posiciona o rodapé na parte inferior da página */
    bottom: 0;
    display: flex; /* Define layout flexível */
    /* Alinha o conteúdo no final da linha (lado direito) */
    justify-content: flex-end;
    background-color: #271910; /* Cor de fundo escura */
    width: 100%; /* Para ocupar toda a largura da página */
    padding: 10px 20px; /* Espaçamento interno para o conteúdo */
}

/* Estilo para o texto dentro do rodapé */
.footer > span {
    font-size: 1.1rem; /* Tamanho da fonte */
    font-weight: 300; /* Peso da fonte leve */
    color: aliceblue; /* Cor do texto */
    margin-right: 15px; /* Espaço entre o texto e o ícone */
}

/* Estilo para o ícone do LinkedIn */
.linkedin-icon {
    color: aliceblue;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    z-index: 1000;
}

/* Efeito de hover no ícone */
.linkedin-icon:hover {
    color: #7c573c;
    transform: scale(1.2);
}