/* Estilo para o rodapé */
.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center; /*add*/
    background-color: #271910;
    /*width: 100%;*/
    /*padding: 2% 5%;*/
    padding: 0 20px;
    z-index: 1000;
}

/* Estilo para o texto dentro do rodapé */
.footer > span {
    font-size: 90%; /* Tamanho da fonte */
    font-weight: 300; /* Peso da fonte leve */
    color: aliceblue; /* Cor do texto */
    margin-right: 15px; /* Espaço entre o texto e o ícone */
}

/* Estilo para o ícone do LinkedIn */
.linkedin-icon {
    color: aliceblue;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    z-index: 1000;
}

/* Efeito de hover no ícone */
.linkedin-icon:hover {
    color: #7c573c;
    transform: scale(1.2);
}