<mat-toolbar class="header" met-elevation-z4>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <!-- Logo com link para a página inicial -->
    <span>
        <a routerLink="/">
            <img class="logo" src="assets/img/logo-padaria.png" alt="logo">
        </a>
    </span>
    <!-- Grupo de título com ícone e texto -->
    <span class="title-group">
        <a>
            <i class="material-icons">home</i>
            Inicio
        </a>
    </span>
</mat-toolbar>