/* Estiliza o formulário para usar um layout flexível em coluna */
form {
  display: flex;
  flex-direction: column;
}

/* Responsividade geral */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Centralização vertical e horizontal */
.container-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: calc(100vh - 80px); /* deixa espaço pro rodapé fixo */
  box-sizing: border-box;
}

/* Estilo do card */
mat-card {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0 10px 22px rgba(92, 58, 26, 0.6);
  margin: 0 auto;
}

/* Título do formulário */
mat-card-title {
  font-size: 22px;
  margin-bottom: 20px;
  color: #6b4f3a;
  text-align: center;
  font-weight: bold;
}

/* Campos */
mat-form-field {
  width: 100%;
  margin-bottom: 18px;
}

/* Botões */
button {
  background: linear-gradient(90deg, #8a6245 250px, #815b40);
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  color: #F5EBDD;
  border-radius: 14px;
  box-shadow: 0 6px 12px rgba(92, 58, 26, 0.4);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

/* Hover e active */
button:hover {
  background: linear-gradient(90deg,#815b40 2%, #8a6245);
  box-shadow: 0 10px 22px rgba(92, 58, 26, 0.6);
  transform: translateY(-2px);
}

button:active {
  transform: scale(0.95);
}

/* Formulário com scroll */
.scrollable-form {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 10px;
}

/* Barra de rolagem personalizada (opcional) */
.scrollable-form::-webkit-scrollbar {
  width: 8px;
}

.scrollable-form::-webkit-scrollbar-thumb {
  background: #b89b87;
  border-radius: 10px;
}

.scrollable-form::-webkit-scrollbar-track {
  background: #f0e6dd;
}